<div class="row">
    <h1>Hard & Soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
           [percent]="85"
           [radius]="100"
           [showUnits]="false"
           [title]="'HTML'"
           [titleColor]="'#e8c39e'"
           [outerStrokeWidth]="16"
           [innerStrokeWidth]="8"
           [outerStrokeColor]="'#e8c39e'"
           [innerStrokeColor]="'#f7b7be'"
           [animation]="true"
           [animationDuration]="600"
        ></circle-progress><!--esto lo saque de https://www.npmjs.com/package/ng-circle-progress-->
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
           [percent]="87"
           [radius]="100"
           [showUnits]="false"
           [title]="' CSS '"
           [titleColor]="'#e8c39e'"
           [outerStrokeWidth]="16"
           [innerStrokeWidth]="8"
           [outerStrokeColor]="'#e8c39e'"
           [innerStrokeColor]="'#f7b7be'"
           [animation]="true"
           [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
           [percent]="79"
           [radius]="100"
           [showUnits]="false"
           [title]="'JavaScrip'"
           [titleColor]="'#e8c39e'"
           [outerStrokeWidth]="16"
           [innerStrokeWidth]="8"
           [outerStrokeColor]="'#e8c39e'"
           [innerStrokeColor]="'#f7b7be'"
           [animation]="true"
           [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
           [percent]="69"
           [radius]="100"
           [showUnits]="false"
           [title]="'ingles'"
           [titleColor]="'#e8c39e'"
           [outerStrokeWidth]="16"
           [innerStrokeWidth]="8"
           [outerStrokeColor]="'#e8c39e'"
           [innerStrokeColor]="'#f7b7be'"
           [animation]="true"
           [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
           [percent]="95"
           [radius]="100"
           [showUnits]="false"
           [title]="'ingles'"
           [titleColor]="'#e8c39e'"
           [outerStrokeWidth]="16"
           [innerStrokeWidth]="8"
           [outerStrokeColor]="'#e8c39e'"
           [innerStrokeColor]="'#f7b7be'"
           [animation]="true"
           [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
           [percent]="75"
           [radius]="100"
           [showUnits]="false"
           [title]="'ingles'"
           [titleColor]="'#e8c39e'"
           [outerStrokeWidth]="16"
           [innerStrokeWidth]="8"
           [outerStrokeColor]="'#e8c39e'"
           [innerStrokeColor]="'#f7b7be'"
           [animation]="true"
           [animationDuration]="600"
        ></circle-progress>
    </div>
</div>