<div class="row">
    <div class="conteiner">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">
        </div>
        <div class="redes">
            <div>
                <a href="https://github.com/CamilaGallegos"><img src="../../../assets/2github.png" id="github"></a>
                <a href="https://www.instagram.com/eykamila_/"><img src="../../../assets/1instagram.png" id="instagram"></a>
                <a href="https://twitter.com/eykamila_"><img src="../../../assets/1twitter.png" id="twitter"></a>
                <a href="https://m.facebook.com/camila.gallegos.10"><img src="../../../assets/1facebook.png" id="facebook"></a>
                <button type="button" class="btn btn-outline-light">Login</button>
            </div>
        </div>
    </div>
</div>
