<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>estudio 1</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error, at magni unde commodi iusto aliquid. Ullam veniam eius velit magni, repellat mollitia nostrum explicabo quo nisi ex voluptatibus totam debitis!</p>
        </ul>
        <ul>
            <li>
                <h1>estudio 2</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error, at magni unde commodi iusto aliquid. Ullam veniam eius velit magni, repellat mollitia nostrum explicabo quo nisi ex voluptatibus totam debitis!</p>
        </ul>
        <ul>
            <li>
                <h1>estudio 3</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error, at magni unde commodi iusto aliquid. Ullam veniam eius velit magni, repellat mollitia nostrum explicabo quo nisi ex voluptatibus totam debitis!</p>
        </ul>
    </div>
</div>
